<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getCourses($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openCourse(course)" *ngFor="let course of currentCourses">
      <ion-avatar item-left>
        <img [src]="course.imgUrl" />
      </ion-avatar>
      <h2>{{ course.name }}</h2>
      <p>{{ course.description }}</p>
      <!--<ion-note item-right *ngIf="item.note">{{item.note}}</ion-note>-->
    </button>
  </ion-list>
</ion-content>
